
<h3><%= @school_class.title %></h3>
<h4><%= @school_class.room_number %></h1>
<div><a href='/school_classes/<%= @school_class.id %>/edit'> Edit</a></a> <a href='/school_classes'> All school_classes</a></div>